@charset "utf-8";

:root {
  --inner_width: 1600px;
  --wrap-boder_color: #ebebeb;
  --wrap-shadow_color: rgba(119,119,119,0.1);
}

html,
body {
  width: 100%;
  height: 100%;
  touch-action: pan-y;
}
body {
  position: relative;
  height: auto;
  min-height: 100%;
  font-family: 'NanumSquareAc', serif;
  
}
.container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* skip_navi */
.skip_navi a {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0;
}
.skip_navi a:focus {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background: #333;
  font-size: 1rem;
  line-height: 40px;
  color: #fff;
  text-align: center;
}

/* Top Navigation Bar */
.tnb_area {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
  background-color: #1b396b;
}
.tnb_area a {
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  font-size: .875rem;
  color: #fff;
}
.site_link,
.tnb {
  padding: 0 1rem;
}
.site_link a + a::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  margin-left: calc(-1rem + -2px);
  opacity: .5;
  background-color: #fff;
}
.tnb {
  background-color: #356bc1;
}









footer {
  position: relative;
  width: 100%;
}