@charset "utf-8";

:root {
  --inner_width: 1600px;
  --wrap-boder_color: #ebebeb;
  --wrap-shadow_color: rgba(119,119,119,0.1);
  --menu-hover_color: #2569d2;
  --gnb_menu-height: 326px;
}
html,
body {
  width: 100%;
  height: 100%;
  touch-action: pan-y;
}
body {
  position: relative;
  height: auto;
  min-height: 100%;
  font-family: 'NanumSquareAc', serif;
  
}
.container {
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* skip_navi */
.skip_navi a {
  position: absolute;
  top: -9999px;
  left: -9999px;
  font-size: 0;
}
.skip_navi a:focus {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 40px;
  background: #333;
  font-size: 1rem;
  line-height: 40px;
  color: #fff;
  text-align: center;
}
/* header */
header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background: #fff;
}
.fixed-header {
  border-bottom: 1px solid #e1e1e1;
}
/* Top Navigation Bar */
.tnb_area {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  min-height: 40px;
  background-color: #1b396b;
}
.tnb_area a {
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  font-size: .875rem;
  color: #fff;
}
.site_link,
.tnb {
  padding: 0 1rem;
}
.site_link a + a::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  margin-left: calc(-1rem + -2px);
  opacity: .5;
  background-color: #fff;
}
.site_link .tnb_logo {
  padding-left: 30px;
  background: url(../images/ktl.svg) no-repeat;
  background-size: 24px 15px;
  background-position: 0 10px;
}
.tnb {
  background-color: #356bc1;
}
.tnb a {
  display: inline-flex;
  line-height: 1.5rem;
}
.tnb a::before {
  content: '';
  display: inline-flex;
  width: 16px;
  height: 20px;
  margin-right: .5rem;
}
.tnb .login::before {
  background: url(../images/icon_login.svg) no-repeat;
}
.tnb .privacy::before {
  background: url(../images/icon_privacy.svg) no-repeat;
}
/* gnb */
.gnb_area,
.all_menu > div  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header h1 {
  margin-left: 2rem;
}
header h1 img {
  display: inline;
  width: 130px;
  height: 32px; 
  vertical-align: bottom;
}
header h1 img:first-child {
  width: 134px;
  height: 35px;
  margin-right: .25rem;
}
/* gnb btns */
header .btn_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .btn_wrap > button {
  position: relative;
  width: 60px;
  height: 85px;
  text-indent: -9999px;
}
header .btn_wrap .btn_top_search_open {
  display: none;
}
header .btn_wrap > button:last-child {
  width: 100px;
  height: 85px;
  color: #ed1c24;
}
/* gnb */
.gnb {
  width: calc(100% - 600px);
}
.gnb .gnb_layout::before {
  content: '';
  display: block;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0;
  background-color: white;
}
.gnb .gnb_layout.open::before,
.gnb .gnb_layout.open:hover::before,
.gnb .gnb_layout.open:focus::before { 
  visibility:visible;
  height: calc(var(--gnb_menu-height) + 2px);
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1); 
  opacity: 1;
}
.gnb .gnb_layout {
  display: flex;
  justify-content: center;
}
.gnb .gnb_layout > li {
  position: relative;
  max-width: 250px;
  text-align: center;
  flex-grow: 1;
}
.gnb .gnb_layout > li > a  {
  display: block;
  position: relative;
  padding: 10px 40px 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 75px;
}
.gnb > .gnb_layout ul {
  visibility: hidden;
  position: absolute;
  top: calc(100% + 1px);
  left: 50%;
  z-index:10 ; 
  width: 100%;
  height: var(--gnb_menu-height);
  padding: 25px 10px;
  text-align: center;
  transform: translateX(-50%); 
  opacity: 0;
}
.gnb > .gnb_layout ul li + li {
  margin-top: 5px;
}
.gnb > .gnb_layout ul a {
  display: block;
  font-size: .9375rem;
}
.gnb > .gnb_layout ul a:hover,
.gnb > .gnb_layout ul a:focus {
  font-weight: 700;
}
.gnb .gnb_layout.open li ul,
.gnb .gnb_layout.open:hover li ul,
.gnb .gnb_layout.open:focus li ul { 
  visibility:visible;
  opacity:1;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}
/* menu hover */
.gnb,
.gnb_layout > li > a::after,
.gnb_layout > li > ul,
.gnb_layout > li > a .icon_arrow {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.gnb_layout > li:hover > a,
.gnb_layout > li > a:hover,
.gnb_layout > li > a:focus,
.gnb_layout > li > ul > li:hover > a,
.gnb_layout > li > ul > li > a:hover,
.gnb_layout > li > ul > li > a:focus,
.gnb_layout > li > ul > li > ul > li > a:hover,
.gnb_layout > li > ul > li > ul > li > a:focus,
.gnb_layout > li.current > a,
.gnb_layout > li.current > a .icon_arrow,
.gnb_layout > li > ul > li.current > a {
  color: var(--menu-hover_color);
  transition: all 0.2s ease-in-out;
}
.gnb_layout > li > a:hover::after,
.gnb_layout > li:hover > a::after,
.gnb_layout > li > a:focus::after,
.gnb_layout > li.current > a::after {
  content:''; 
  display: block; 
  position: absolute; 
  bottom: 0px;
  left: 0; 
  width: 100%; 
  height: 1px;
  background-color: var(--menu-hover_color);
}
.gnb_layout > li > a:hover::after,
.gnb_layout > li > a::after {
  content:''; 
  display: block; 
  position: absolute; 
  bottom: 0px; 
  left: 0; 
  width: 100%; 
  height: 1px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-color: var(--menu-hover_color);
  transform-origin: bottom center;
}
.gnb_layout > li:hover > a::after,
.gnb_layout > li:focus > a::after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  transform-origin: bottom center;
}
.gnb > .gnb_layout.open li:hover ul {
  background-color: #eaeef4;
}
/* all menu */
.all_menu.active {
  visibility: visible;
  opacity: 1;
}
.all_menu {
  visibility: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding-bottom: 16px;
  background: #fff;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.all_menu > div {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  height: 165px;
  background:#fff url(../images/bg_all_menu.png) no-repeat;
  background-position: bottom -5px left 12vw;
}
.all_menu .btn_all_menu_close {
  background-color: #1b396b;
}
.all_menu .btn_all_menu_close .icon_close {
  margin-top: 3px;
}
.all_menu .gnb_layout {
  display: grid;
  width: 70%;
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 180px;
  gap: 10%;
  grid-template-columns: 1fr 2fr repeat(2, 1fr);
}
.all_menu .gnb_layout > li > a {
  display: block;
  position: relative;
  padding: 10px 0 15px;
  border-bottom: 3px solid #e5e5e5;
  font-weight: 700;
  font-size: 1.125rem;
}
.all_menu .gnb_layout .icon_arrow {
  display: none;
}
.all_menu .gnb_layout li > ul {
  margin-top: 15px;
}
.all_menu .gnb_layout .third_depth > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 16%;
}
.all_menu .gnb_layout li > ul > li > a {
  display: block;
  padding: 6px 0;
  font-weight: 700;
  font-size: .938rem;
  line-height: 1.25rem;
}
.all_menu .gnb_layout .third_depth > ul ul {
  margin-top: 0px;
}
.all_menu .gnb_layout .third_depth > ul ul a {
  display: block;
  padding: 3px 0;
  font-weight: 400;
  font-size: .875rem;
}
.all_menu .gnb_layout .third_depth > ul ul a::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 3px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #3c3c3c;
}
.all_menu .gnb_layout .login_menu {
  position: absolute;
  top: 520px;
  left: 58%;
}
.all_menu .gnb_layout .login_menu a {
  font-weight: 400;
}
.all_menu .gnb_layout .login_menu a::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: currentColor;
}
/* hover */
  .all_menu .gnb_layout > li > a:hover::after,
  .all_menu .gnb_layout > li:hover > a::after,
  .all_menu .gnb_layout > li > a:focus::after,
  .all_menu .gnb_layout > li.current > a::after {
    bottom: -3px;
    height: 3px;
  }
  .all_menu .gnb_layout > li > a:hover::after,
  .all_menu .gnb_layout > li > a::after {
    bottom: -3px;
    height: 3px;
  }
  .all_menu .gnb_layout .third_depth > ul ul a:hover {
    font-weight: 700;
  }
  .all_menu .gnb_layout .third_depth > ul ul a:hover::before {
    background-color: currentColor;
  }
/* search */
.search_wrap.active,
.search_wrap.active::before {
  visibility: visible;
  opacity: 1;
}
.search_wrap.active {
  z-index: 11;
  height: 180px;
}
div.search_wrap {
  display: flex;
  visibility: hidden;
  position: absolute;
  align-items: center;
  top: 85px;
  width: 100%;
  height: 0;
  border-top: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  background: #fff; 
  transition: all .4s cubic-bezier(.59, .01, .43, 1);
  opacity: 0;
}
.search_wrap::before,
.search_wrap::before {
  content: '';
  display: block;
  visibility: hidden;
  position: absolute;
  top: 100%;
  z-index: 10;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background: rgba(0,0,0,.5);
  opacity: 0;
}
.search_wrap form, 
.search_wrap form fieldset {
  width: 100%;
}
.search_wrap .search_inner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 10px 0 50px;
}
.search_wrap .search_inner input {
  display: block;
  width: calc(100% - 234px);
  max-width: 650px;
  padding: 20px 30px;
  border: 2px solid #0061ce;
  line-height: 1.5rem;
}
.search_wrap .search_inner input::placeholder {
  font: 700 1.125rem 'NanumSquareAc';
  color: #d3d3d3;
}
.search_wrap .search_inner input:focus {
  border: 2px solid #222;
  outline: 0;
}
.search_wrap .search_inner .search_btn {
  height: 68px;
  padding: 24px 50px 23px;
  background: #0060ce;
  font: 700 1.125rem 'NanumSquareAc';
  color: #fff;
}
.search_wrap .search_inner .close_btn {
  position: relative;
  padding: 22px 50px;
  color: #d4d4d4;
  text-indent: -9999px;
}
.search_wrap .search_inner .close_btn .icon_close {
  left: auto;
  margin-top: 4px;
}
/* footer */
footer {
  position: relative;
  width: 100%;
  margin-top: 65px;  
  padding: 60px 1rem;
  font-size: .875rem;
  color: #fff;
  background-color: #0d1521;
}
footer > div {
  max-width: 1600px;
  margin: 0 auto;
}
footer .ft_link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.ft_link h3 img {
  width: 218px;
  height: 37px;
  opacity: .75;
  filter: contrast(0) brightness(115%);
}
.ft_link ul {
  display: flex;
}
.ft_link ul li {
  position: relative;
}
.ft_link ul li + li::before {
  content: '';
  position: absolute;
  top: .75rem;
  left: -1px;
  width: 2px;
  height: .75rem;
  background-color: #ccc;  
}
.ft_link ul li a {
  display: block;
  padding: .5rem 1rem;
}
.ft_link ul li:first-child a {
  color: #ea4040;
}
footer p + p {
  margin-top: .25rem;
  color: #606369;
}

/* ---------- respond ---------- */

@media screen and (max-width: 1600px) {
  .all_menu .gnb_layout {
    width: 90%;
  }
  .all_menu .gnb_layout .login_menu {
    left: 59.5%;
  }
}
@media screen and (max-width: 1280px) {
  .all_menu .gnb_layout {
    gap: 5%;
  }
  .all_menu .gnb_layout .login_menu {
    left: 60%;
  }
  .all_menu .gnb_layout .third_depth > ul {
    gap: 20px 10%;
  }
}
@media screen and (max-width: 1150px) {
  .gnb .gnb_layout > li > a {
    min-width: 120px;
    padding: 10px 20px 0;
    text-align: center;
  }
  footer {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1024px) {
  /* header */
  .tnb_area,
  .gnb_area .gnb {
    display: none;
  }
  header .btn_wrap .btn_top_search_open {
    display: block;
  }
  /* all menu */
  .all_menu.active {
    right: 0;
  }
  .all_menu {
    right: -100%;
    padding-bottom: 0;
    transition: all .4s cubic-bezier(.59, .01, .43, 1);
  }
  .all_menu > div {
    height: 85px;
    padding: 0;
    border-bottom: 1px solid #ccc;
    background: none;
  }  
  .all_menu .gnb_layout {
    display: block;
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 146px);
    max-width: 400px;
    margin: 86px 0 60px;
    margin-top: 86px;
    padding: 30px;
  }
  .all_menu .gnb_layout > li > a {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    font-size: 1.375rem;
  }
  .all_menu .gnb_layout > li > a .icon_arrow {
    display: block;
    top: 25px;
    right: 16px;
  }
  .all_menu .gnb_layout > li.current > a .icon_arrow {
    top: 30px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .all_menu .gnb_layout li > ul {
    display: none;
    margin: 15px 15px 35px;
  }
  .all_menu .gnb_layout li.current > ul {
    display: block;
  }
  .all_menu .gnb_layout li > ul > li > a {
    font-weight: 600;
    font-size: 1rem;
  }
  .all_menu .gnb_layout li > ul > li > a::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 10px;
    vertical-align: middle;
    background-color: currentColor;
  }
  .all_menu .gnb_layout li > ul > li + li {
    margin-top: 8px;
  }
  .all_menu .gnb_layout .third_depth > ul {
    display: none;
  }
  .all_menu .gnb_layout .current ul ul {
    display: block;
  }
  .all_menu .gnb_layout li > ul > li + li {
    margin-top: 2px;
  }
  .all_menu .gnb_layout .current ul ul {
    margin-bottom: 10px;
  }
  /* hover */
    .all_menu .gnb_layout > li > a:hover::after,
    .all_menu .gnb_layout > li:hover > a::after,
    .all_menu .gnb_layout > li > a:focus::after,
    .all_menu .gnb_layout > li.current > a::after {
      bottom: -1px;
      height: 1px;
    }
    .all_menu .gnb_layout > li > a:hover::after,
    .all_menu .gnb_layout > li > a::after {
      bottom: -1px;
      height: 1px;
    }
    .all_menu .gnb_layout > li > a:hover,
    .all_menu .gnb_layout > li:hover > a,
    .all_menu .gnb_layout > li > a:focus,
    .all_menu .gnb_layout > li.current > a {
        border-color: #0061ce;;
    }
  .all_menu .gnb_layout > .login_menu {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 30px;
    background: #444;
  }
  .all_menu .gnb_layout > .login_menu ul {
    display: flex;
    margin: 0;
  }
  .all_menu .gnb_layout .login_menu > ul > li + li {
    margin-top: 0;
    margin-left: 10px;
  }
  .all_menu .gnb_layout .login_menu > ul > li > a {
    padding: 10px;
    font-weight: 200;
    font-size: .875rem;
    color: #fff;
  }
  .all_menu .gnb_layout > .login_menu a::before {
    display: none;
  }
  .all_menu .gnb_layout .login_menu > ul > li > a:hover {
    color: #ccc;
  }
}
@media screen and (max-width: 565px) {
  footer {
    padding: 30px 1rem 40px;
  }
  footer .ft_link {
    flex-direction: column-reverse;
  }
  .ft_link ul {
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  header h1 img {
    width: 90px;
    height: 22px;
  }
  header h1 img:first-child {
    width: 87px;
    height: 25px;
  }
  header .btn_wrap .btn_top_search_open {
    display: none;
  }
}