@charset "utf-8";


/* main */
.contents {
  position: relative;
  width: 100%;
  margin-top: 125px;
  padding: 35px 1rem;
}
.contents .eng {
  font-family: 'Corbel', serif;
}
.contents h3 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #222;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.contents h3 strong {
  margin-right: 1rem;
}
.contents h3 span {
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  color: #555;
}
.section .wrapper {
  padding: 30px;
  border: 1px solid var(--wrap-boder_color);
  border-radius: 25px;
  -webkit-box-shadow:0px 0px 5px 3px var(--wrap-shadow_color);
  -moz-box-shadow: 0px 0px 5px 3px var(--wrap-shadow_color);
  box-shadow: 0px 0px 5px 3px var(--wrap-shadow_color);
}
.icon_list_style {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.icon_list_style li a {
  display: block;
  padding: 1rem 1rem 0;
  font-weight: 700;
  font-size: 1rem;  
  color: #222;
}
.icon_list_style li a span {
  display: block;
  position: relative;  
  text-align: center;
}

/* link_area */
.link_area ul li a span::before,
.link_area ul li a span::after {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
}
.link_area ul li a span::before {
  margin: 0 auto 1rem;
  border-radius: 50%;
  background-color: #f1f1f1;
}
.link_area ul li:hover a span::before {
  border: 1px solid #acacac;
  transition: all 0.3s ease-in-out;
}
.link_area ul li a span::after {
  position: absolute;
  top: 0;
  left: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-50%);
}
.link_area ul li:nth-child(1) a span::after {
  background-image: url(../images/icon_link_01.svg);
}
.link_area ul li:nth-child(2) a span::after {
  background-image: url(../images/icon_link_02.svg);
}
.link_area ul li:nth-child(3) a span::after {
  background-image: url(../images/icon_link_03.svg);
}
.link_area ul li:nth-child(4) a span::after {
  background-image: url(../images/icon_link_04.svg);
}
.link_area ul li:nth-child(5) a span::after {
  background-image: url(../images/icon_link_05.svg);
}
.link_area ul li:nth-child(6) a span::after {
  background-image: url(../images/icon_link_06.svg);
}
.link_area ul li:nth-child(7) a span::after {
  background-image: url(../images/icon_link_07.svg);
}


/* service_area - member */
.wrapper.member {
  background-color: #f1f1f1;
  border-color: #dfdfdf;
}
.member ul li {
  position: relative;
  width: 25%;
}
.member ul li a span::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto .5rem;
  background-repeat: no-repeat;
  background-position: center;
}
.member ul li:nth-child(1) a span::before {
  background: url(../images/icon_member_01.svg) no-repeat center;
}
.member ul li:nth-child(2) a span::before {
  background: url(../images/icon_member_02.svg) no-repeat center;
}
.member ul li:nth-child(3) a span::before {
  background: url(../images/icon_member_03.svg) no-repeat center;
}
.member ul li:nth-child(4) a span::before {
  background: url(../images/icon_member_04.svg) no-repeat center;
}
.member ul li + li::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 1px;
  height: 60px;
  transform: translateY(-50%);
  background-color: #dfdfdf;
}

.board_area h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.board_area h3 a {
  font-weight: 500;
  font-size: .875rem;
  color: #555;
}
.board_area ul {
  font-size: .875rem;
  color: #444;
}
.board_area ul li {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}
.board_area ul li a::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin: 0 .5rem;
  border-radius: 2px;
  background-color: #363636;
}
.board_area ul li a {
  display: block;
  overflow: hidden;
  width: calc(100% - 80px);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.board_area ul li span {
  font-size: .75rem;
  color: #838383;
}