@charset "utf-8";

:root {
  --content_gap: 40px;
}

/* main */
.contents {
  position: relative;
  width: 100%;
  margin-top: 125px;
  padding: 35px 1rem;
}
.contents .visual,
.contents .section {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 18px;
}
.contents > div + div {
  margin-top: var(--content_gap);
}
.contents .eng {
  font-family: 'Corbel', serif;
}
.contents h3 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: #222;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.contents h3 strong {
  margin-right: 1rem;
}
.contents h3 span {
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  color: #555;
}
.section .wrapper {
  padding: 30px;
  border: 1px solid var(--wrap-boder_color);
  border-radius: 25px;
  -webkit-box-shadow:0px 0px 5px 3px var(--wrap-shadow_color);
  -moz-box-shadow: 0px 0px 5px 3px var(--wrap-shadow_color);
  box-shadow: 0px 0px 5px 3px var(--wrap-shadow_color);
}
/* list style */
.icon_list_style {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.icon_list_style li a {
  display: block;
  padding: 1rem 1rem 0;
  font-weight: 700;
  font-size: 1rem;  
  color: #222;
}
.icon_list_style li a span {
  display: block;
  position: relative;
  text-align: center;  
  word-break: keep-all;
  transition: all .3s ease-in-out;
}
.icon_list_style li:hover a span {
  transition: all .3s ease-in-out;
}
/* visual */
.visual .slider .slick-list {
  border-radius: 25px;
}
.visual .slider .slider_wrap {
  overflow: hidden;
  height: 450px;
  padding: 75px 130px 45px;
  border-radius: 25px;
  background-color: #ddd;  
}
.visual .slider .slider_wrap p {
  margin-top: 15px;
  font-weight: 400;
  color: #2a2a2a;
  word-break: keep-all;
}
.visual .slider .slider_wrap .title {
  margin-bottom: 1.25rem;
  font-weight: 700;
  font-size: 2.125rem;
}
.visual .slider .slider_wrap .title strong {
  display: block;
  font-weight: 900;
  font-size: 2.1875rem;
  line-height: 1.5;
}
.visual .slider .slider_wrap .text span {
  display: block;
  font-size: 1rem;
  line-height: 1.75;
}
.visual .slider .slider_wrap ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-left: -5px;
}
.visual .slider .slider_wrap ul li {
  position: relative;
  padding: 20px 30px;
  border-radius: 25px;
  font-size: .875rem;
  color: #2a2a2a;
  flex-grow: 1;
  background-color: #fff;
}
/* banner type 1 */
.visual .slider .slider_wrap .v_banner_type1 li {
  margin: 10px 20px 0 0;
  padding: 20px 80px 20px 30px;
}
.visual .slider .slider_wrap .v_banner_type1 li::after {
  content: '';
  display: block;
  position: absolute;
  top: 24px;
  right: 30px;
  width: 40px;
  height: 40px;
}
.visual .slider .slider_wrap .v_banner_type1 li strong {
  display: block;
  font-weight: 900;
  font-size: 1rem;
  color: #2b68c7;
} 
/* banner type 2 */
.visual .slider .slider_wrap .v_banner_type2 {
  margin-top: 40px;
}
.visual .slider .slider_wrap .v_banner_type2 li {
  max-width: 155px;
  margin: 10px 10px 0 0;
  font-weight: 700;
  font-size: 1rem;
  color: #424242;
  text-align: center;
}
.visual .slider .slider_wrap .v_banner_type2 li span {
  display: block;
  position: absolute;
  top: -7px;
  left: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-weight: 900;
  font-size: .8125rem;
  line-height: 24px;
  color: #fff;
  text-align: center;
  background-color: #444;
}
/* visual 01 */
.visual .slider .visual_01 {
  background: #c4e0f4 url(../images/bg_visual_01.png) no-repeat center right -20px;
}
.visual .slider .visual_01 .v_banner_type1 li {
  max-width: 318px;
}
.visual .slider .visual_01 .v_banner_type1 li:nth-child(1)::after {
  background: url(../images/icon_visual01_01.svg) no-repeat;
}
.visual .slider .visual_01 .v_banner_type1 li:nth-child(2)::after {
  background: url(../images/icon_visual01_02.svg) no-repeat;
}
.visual .slider .visual_01 .v_banner_type1 li:nth-child(3)::after {
  background: url(../images/icon_visual01_03.svg) no-repeat;
}
/* visual 02 */
.visual .slider .visual_02 {
  background: #f9edee url(../images/bg_visual_02.png) no-repeat center right -20px;
}
.visual .slider .visual_02 .v_banner_type2 li span {
  background-color: #ff9d9d;
}
/* visual 03 */
.visual .slider .visual_03 {
  background: #fcf9e8 url(../images/bg_visual_03.png) no-repeat center right -20px;
}
.visual .slider .visual_03 .v_banner_type2 li span {
  color: #ea9720;
  background-color: #ffe657;
}
/* visual 04 */
.visual .slider .visual_04 {
  background: #e2e8f9 url(../images/bg_visual_04.png) no-repeat center right -20px;
}
.visual .slider .visual_04 .v_banner_type1 li {
  max-width: 256px;
}
.visual .slider .visual_04 .v_banner_type1 li strong {
  font-weight: 700;
  color: #424242;
} 
.visual .slider .visual_04 .v_banner_type1 li:nth-child(1)::after {
  background: url(../images/icon_visual04_01.svg) no-repeat;
}
.visual .slider .visual_04 .v_banner_type1 li:nth-child(2)::after {
  background: url(../images/icon_visual04_02.svg) no-repeat;
}
.visual .slider .visual_04 .v_banner_type1 li:nth-child(3)::after {
  background: url(../images/icon_visual04_03.svg) no-repeat;
}
.visual .slider .visual_04 .v_banner_type1 li:nth-child(4)::after {
  background: url(../images/icon_visual04_04.svg) no-repeat;
}
    /* silder */
    .slider_dots { 
      display: flex;
      flex-direction: row-reverse;
      align-items: center;   
      justify-content: center;
      margin-top: 20px;
    }
    .slider_dots ul {
      font-size: 0;
    }
    .slider_dots ul li {
      display: inline-flex;
      width: 11px;
      height: 10px;
      border-radius: 50%;
      background: #cdcdcd;
      transition: all .3s ease-in-out;
    }
    .slider_dots li + li {
      margin-left: 4px;
    }
    .slider_dots ul li:hover,
    .slider_dots ul li:focus {
      background: #356cc2;
      transition: all .3s ease-in-out;
    }
    .slider_dots ul li.slick-active {
      width: 26px;
      height: 10px;
      border-radius: 50px;
      background: #356cc2;
      vertical-align: bottom;
      transition: all .4s cubic-bezier(.59, .01, .43, 1);
    }
    .slider_dots .dots_btn {
      position: relative;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      border-radius: 50%;
      background: #cdcdcd;
      transition: all .3s ease-in-out;
    }
    .slider_dots .dots_btn:hover,
    .slider_dots .dots_btn:focus {
      background: #356cc2;
      color: #fff;
      transition: all .3s ease-in-out;
    }
    .slider_dots .play::after{
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      margin-top: calc(-25% - 1px);
      margin-left: calc(50% - 2px);
      border: 0.375rem solid transparent;
      border-left-color: currentColor;
    }
    .slider_dots .stop::after {
      content: '';
      display: block;
      position: absolute;
      width: 6px;
      height: 10px;
      margin-top: -5px;
      margin-left: calc(50% - 3px);
      border: 2px solid currentColor;
      border-top: none;
      border-bottom: none;
    }
    .slick-arrow {
      position: absolute;
      top: calc(50% - 10px);
      z-index: 1;
      width: 27px;
      height: 27px;
      border: 1px solid #222;
      text-indent: -9999px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      transition: all .3s ease-in-out;
      opacity: .5;
    }
    .slick-arrow:hover {
      transition: all .3s ease-in-out;
      opacity: 1;
      border-color: #356cc2;
    }
    .slick-arrow.slick-prev {
      left: 50px;
      border-width: 0 1px 1px  0;
    }
    .slick-arrow.slick-next {
      right: 50px;
      border-width:  1px 0 0 1px;
    }
/* link_area */
.link_area ul li a span::before,
.link_area ul li a span::after {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  transition: all 0.3s ease-in-out;
}
.link_area ul li a span::before {
  margin: 0 auto 1rem;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 50%;
  background-color: #f1f1f1;
}
.link_area ul li:hover a span::before {
  border: 1px solid rgba(0,0,0,.2);
  background-color: #ddd;
}
.link_area ul li a span::after {
  position: absolute;
  top: 0;
  left: 50%;
  background-size: 100%;
  background-position: center;
  transform: translateX(-50%);
  background-repeat: no-repeat;
}
.link_area ul li:nth-child(1) a span::after {
  background-image: url(../images/icon_link_01.svg);
}
.link_area ul li:nth-child(2) a span::after {
  background-image: url(../images/icon_link_02.svg);
}
.link_area ul li:nth-child(3) a span::after {
  background-image: url(../images/icon_link_03.svg);
}
.link_area ul li:nth-child(4) a span::after {
  background-image: url(../images/icon_link_04.svg);
}
.link_area ul li:nth-child(5) a span::after {
  background-image: url(../images/icon_link_05.svg);
}
.link_area ul li:nth-child(6) a span::after {
  background-image: url(../images/icon_link_06.svg);
}
.link_area ul li:nth-child(7) a span::after {
  background-image: url(../images/icon_link_07.svg);
}
/* service */
.wrapper.banner,
.wrapper.member {
  display: inline-block;
  min-height: 255px;
  vertical-align: top;
}
/* service_area - banner */
.wrapper.banner {
  width: calc(60% - 25px);
  margin-right: 20px;
}
.banner .banner_wrap {
  position: relative;
  padding:  20px 60px;
}
.banner .banner_wrap p {
  font-size: .9375rem;
  color: #454545;
}
.banner .banner_wrap p span {
  display: block;
  font-weight: 700;
  font-size: .875rem;
  color: #356cc2;
}
.banner .banner_wrap p strong {
  display: block;
  margin: 8px 0;
  font-weight: 900;
  font-size: 1.25rem;
  color: #111;
}
.banner .banner_wrap ul {
  margin-top: 20px;
  margin-left: -5px;
}
.banner .banner_wrap ul li {
  display: inline-flex;
  margin: 4px 2px 0 0;
  border-radius: 50px;
  background-color: #356cc2;
}
.banner .banner_wrap ul li a {
  display: block;
  padding: 7px 1.5rem 6px;
  font-weight: 400;
  font-size: .875rem;
  color: #fff;
}
.banner .banner_wrap ul li a::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 15px;
  border: 1px solid #fff;
  border-width: 1px 0 0 1px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.banner .banner_01 {
  background: url(../images/bg_banner_01.png) no-repeat bottom -10px right 15%;
}
.banner .banner_02 {
  background: url(../images/bg_banner_02.png) no-repeat bottom -10px right 15%;
}
.banner .banner_03 {
  background: url(../images/bg_banner_03.png) no-repeat bottom -10px right 15%;
}
    /* banner slider */
    .banner .slider_area {
      position: relative;
    }
    .banner .slick-arrow.slick-prev {
      left: 10px;
    }
    .banner .slick-arrow.slick-next {
      right: 10px;
    }
    .banner .banner_dot {
      display: flex;
      position: absolute;
      align-items: center;
      top: 0;
      right: 15px;
    }
    .banner .banner_dot li + li {
      margin-left: 5px;
    }
    .banner .banner_dot li a {
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      font-size: .75rem;
      line-height: 25px;
      color: #fff;
      text-align: center;
      transition: all 0.3s ease-in-out;
      background-color: #cdcdcd;
    }
    .banner .banner_dot li.current a {
      width: 30px;
      height: 30px;
      font-size: .875rem;
      line-height: 31px;
      transition: all 0.3s ease-in-out;
      background-color: #f67176;
    }
/* service_area - member */
.wrapper.member {
  width: 40%;
  background-color: #f1f1f1;
  border-color: #dfdfdf;
}
.member h3 span {
  display: block;
  margin-top: 5px;
  font-size: .9375rem;
}
.member ul {
  margin-top: 25px;
}
.member ul li {
  position: relative;
  width: 25%;
}
.member ul li a span::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto .5rem;
  background-color: #36435e;  
}
.member ul li:nth-child(1) a span::before {
  -webkit-mask: url(../images/icon_member_01.svg) no-repeat center;
  mask: url(../images/icon_member_01.svg) no-repeat center;
}
.member ul li:nth-child(2) a span::before {
  -webkit-mask: url(../images/icon_member_02.svg) no-repeat center;
  mask: url(../images/icon_member_02.svg) no-repeat center;
}
.member ul li:nth-child(3) a span::before {
  -webkit-mask: url(../images/icon_member_03.svg) no-repeat center;
  mask: url(../images/icon_member_03.svg) no-repeat center;
}
.member ul li:nth-child(4) a span::before {
  -webkit-mask: url(../images/icon_member_04.svg) no-repeat center;
  mask: url(../images/icon_member_04.svg) no-repeat center;
}
.member ul li + li::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 1px;
  height: 60px;
  transform: translateY(-50%);
  transition: all .3s ease-in-out;
  background-color: #dfdfdf;
}
.member ul li a:hover span {
  color:#356cc2;
}
.member ul li a:hover span::before {
  transition: all .3s ease-in-out;
  background-color: #356cc2;
}
/* board_area */
.board_area {
  display: flex;
  gap: 22px;
}
.board_area > .wrapper {
  flex-grow: 1;
}
.board_area h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.board_area h3 a {
  font-weight: 500;
  font-size: .875rem;
  color: #555;
}
.board_area ul {
  font-size: .875rem;
  color: #444;
}
.board_area ul li {
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}
.board_area ul li a::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 .5rem;
  border-radius: 2px;
  vertical-align: middle;
  background-color: #363636;
}
.board_area ul li a {
  display: block;
  overflow: hidden;
  width: calc(100% - 80px);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.board_area ul li span {
  font-size: .75rem;
  color: #838383;
}

/* ---------- respond ---------- */
@media screen and (max-width: 1210px) {
  /* visual */
  .visual .slider .slider_wrap {
    padding: 70px 70px 40px;
  }
  .slick-arrow.slick-prev {
    left: 30px;
  }
  .slick-arrow.slick-next {
    right: 30px;
  }
  .visual .slider .slider_wrap .title {
    font-size: 1.6875rem;
  }
  .visual .slider .slider_wrap .title strong {
    font-size: 1.875rem;
    line-height: 1.35;
  }
  .visual .slider .slider_wrap .text span {
    font-size: .9375rem;
    line-height: 1.5;
  }
  .visual .slider .slider_wrap ul {
    margin-top: 35px;
  }
  .visual .slider .slider_wrap {
    background-position: bottom right -70px;
  }
}
@media screen and (max-width: 1145px) {
  :root {
    --content_gap: 25px;
  }
  /* visual */
  .visual .slider .slider_wrap .v_banner_type1 {
    margin-top: 60px;
  }
  .visual .slider .slider_wrap .v_banner_type1 li {
    margin: 10px 10px 0 0;
    padding: 15px 20px;
  }
  .visual .slider .slider_wrap .v_banner_type1 li::after {
    display: none;
  }
  .visual .slider .slider_wrap .v_banner_type2 {
    margin-top: 20px;
  }
  /* service */
  .service_area .banner, 
  .service_area .member {
    display: block;
    width: 100%;
    margin: 0;
  }
  .service_area .banner {
    margin-bottom: var(--content_gap);
  }
  .service_area .banner .banner_wrap {
    padding: 20px 0 20px 5px;
  }
  .banner .slick-arrow.slick-prev,
  .banner .slick-arrow.slick-next {
    visibility: hidden;
    opacity: 0;
  }
  .banner .banner_dot {
    right: 0;
  }
  .board_area {
    display: block;
  }
  .board_area > .wrapper {
    margin-bottom: var(--content_gap);
  }
}
@media screen and (max-width: 1024px) {
  .contents {
    margin-top: 85px;
    padding-top: 10px;
  }
  /* visual */
  .visual .slider .slider_wrap {
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  .visual .slider .visual_01 {
    background-image: url(../images/mbg_visual_01.png);
  }
  .visual .slider .visual_02 {
    background-image: url(../images/mbg_visual_02.png);
  }
  .visual .slider .visual_03 {
    background-image: url(../images/mbg_visual_03.png);
  }
  .visual .slider .visual_04 {
    background-image: url(../images/mbg_visual_04.png);
  }  
}
@media screen and (max-width: 865px) {
  .contents {
    padding: 0;
  }
  /* visual */
  .contents .visual {
    padding: 0;
  }
  .visual .slider .slick-list,
  .visual .slider .slider_wrap {
    border-radius: 0;
  }
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    visibility: hidden;
    opacity: 0;
  }
}
@media screen and (max-width: 755px) {
  /* visual */
  .visual .slider .slider_wrap {
    padding: 50px 70px;
  }
  .visual .slider .slider_wrap ul li {
    -webkit-box-shadow:0px 0px 2px 1px var(--wrap-shadow_color);
    -moz-box-shadow: 0px 0px 2px 1px var(--wrap-shadow_color);
    box-shadow: 0px 0px 2px 1px var(--wrap-shadow_color);
  }
  .visual .slider .visual_04 .v_banner_type1 {
    margin-top: 40px;
  }
  .visual .slider .visual_04 .v_banner_type1 li {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 630px) {
  .visual .slider .visual_01 .v_banner_type1 {
    margin-top: 5px;
  }
  .visual .slider .visual_01 .v_banner_type1 li {
    max-width: none;
  }
}
@media screen and (max-width: 595px) {
  .visual .slider .slider_wrap {
    height: auto;
    min-height: 370px;
    padding: 30px 40px;
    background-size: 60%;
  }
  .visual .slider .slider_wrap ul {
    display: none;
  }
  .slider_dots {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  /* service_area */
  .banner .banner_wrap {
    background-position: bottom -25px right -20px;
  }
  .member ul li {
    width: 50%;
  }
  .member ul li:nth-child(3)::before {
    display: none;
  }
}