@charset "utf-8";

/* font */
/* Corbel - 400, 700 */
/* NanumSquareAc - 200, 400, 700, 800 */

/* corbel */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Corbel';
  src: url('../font/corbel-webfont.woff') format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: 'Corbel';
  src: url('../font/corbelbold-webfont.woff') format('woff');
}

/* NanumSquareAc */
@font-face {
  font-weight: 200;
  font-family: 'NanumSquareAc';
  src: url('../font/NanumSquare_acL.eot');
  src: url('../font/NanumSquare_acL.eot?#iefix') format("embedded-opentype"),
    url('../font/NanumSquare_acL.woff') format("woff"),
    url('../font/NanumSquare_acL.ttf') format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: 'NanumSquareAc';
  src: url('../font/NanumSquare_acR.eot');
  src: url('../font/NanumSquare_acR.eot?#iefix') format("embedded-opentype"),
    url('../font/NanumSquare_acR.woff') format("woff"),
    url('../font/NanumSquare_acR.ttf') format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: 'NanumSquareAc';
  src: url('../font/NanumSquare_acB.eot');
  src: url('../font/NanumSquare_acB.eot?#iefix') format("embedded-opentype"),
    url('../font/NanumSquare_acB.woff') format("woff"),
    url('../font/NanumSquare_acB.ttf') format("truetype");
}

@font-face {
  font-weight: 800;
  font-family: 'NanumSquareAc';
  src: url('../font/NanumSquare_acEB.eot');
  src: url('../font/NanumSquare_acEB.eot?#iefix') format("embedded-opentype"),
    url('../font/NanumSquare_acEB.woff') format("woff"),
    url('../font/NanumSquare_acEB.ttf') format("truetype");
}

/* reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}
*,
::before,
::after {
  box-sizing: border-box;
  flex-shrink: 0;
}
:root {
  line-height: 1.5;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  /* 모바일 클릭시 검은색영역 사라짐 */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  /* 모바일에서도 원래의 폰트 크기대로 출력 */
  overflow-wrap: break-word;
  /* 루트에 걸어두면 띄어쓰기 없을때 글자 빠져나가는것 방지 */
  -moz-tab-size: 4;
  tab-size: 4;
}
html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
button {
  border: 0;
  background: none;
  cursor: pointer;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
/* reset custermize */
body {
  width: 100%;
  overflow-x: hidden;
  font-weight: 400;
  font-family: 'Helvetica Neue', 'Apple SD Gothic Neo', Arial, sans-serif;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.hide {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  z-index: -1;
}
/* css icon */
  /* menu */
.icon_menu {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 4px;
  margin-top: -2px;
  color: currentColor;
  transform: translateX(-50%);
  background-color: currentColor;
}
.icon_menu::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 26px;
  height: 4px;
  background-color: currentColor;
}
.icon_menu::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 26px;
  height: 4px;
  background-color: currentColor;
}
  /* close */
.icon_close {
  display: block;
  position: absolute;
  left: 50%;
  width: 34px;
  height: 34px;
  transform: translate(-50%, -25%);
}
.icon_close::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 34px;
  height: 4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: currentColor;
}
.icon_close::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 0;
  width: 34px;
  height: 4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: currentColor;
}
  /* search */
.icon_search {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  margin-top: 2px;
  color: currentColor;
  transform: translate(-50%, -50%);
}
.icon_search::before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border: solid 3px currentColor;
  border-radius: 100%;
}
.icon_search::after {
  content: '';
  display: block;
  width: 2.5px;
  height: 12px;
  margin-top: -6px;
  margin-left: 22px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: currentColor;
}
/* icon_arrow : menu */
.icon_arrow {
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}